
<%- include('./partials/header.ejs') %>
    <h1>Hello World!</h1>
    <ul>

      <% for(let i = 0; i<25; i++){ %>
          <ul class = "results">
              <li>
                  <img  src = '<%= resultPokemon[i].spriteApiLink || resultPokemon[i].placeholdImageLink %>'>
              </li>    
              <li><%= resultPokemon[i].name %></li>
              <li>
                  <form action="/favorites" method='POST'> 
                  <input type = "hidden" name="pokemonTyping" value="<%= resultPokemon[i].name %>" required>
                  <input type = "hidden" name = "_method" value = "post">
                  <button>save</button> </form> 
              </li>
          </ul>
       <li>
           <%= resultPokemon[i].name %>
      </li>
        <!-- <%- include('./partials/search') %> -->
          <% } %>
      </ul>
</body>
</html>